@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example CSS */
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with desired weight */
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Replace with desired weight */
  font-style: normal;
}
